################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/Project1/v15/Browse.VC.opendb
/.vs/DX12Library/v15
/DirectXTex/Bin/Desktop_2017_Win10/ARM64/Debug/DirectXTex_Desktop_2017_Win10.log
/DX12Library/Resources/PLAYER
/DirectXTex/Bin/Desktop_2017_Win10/x64/Release
